html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.img-bg {
  background-image: url("/images/imgbg.svg");
  background-size: cover;
  /* adjust the size of the background image to cover the entire div */
  background-position: center;
  /* center the background image within the div */
  /* position: absolute; */
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}